name: "Thermal Dual Vision"
version: "2.1.3"
slug: "thermal_dual_vision"
description: "AI supported thermal & color person detection system with MQTT Auto-Discovery."
url: "https://github.com/cataloglu/thermal-dual-vision"
arch:
  - aarch64
  - amd64
startup: application
boot: auto
map:
  - "config:rw"
  - "media:rw"
ingress: true
ingress_port: 8099
panel_icon: mdi:cctv
panel_title: Thermal Vision
ports:
  1984/tcp: 1984  # go2rtc UI (Optional, maybe remote access)
  8554/tcp: 8554  # RTSP Server
options:
  log_level: info
  mqtt_host: core-mosquitto
  mqtt_port: 1883
  mqtt_user: ""
  mqtt_pass: ""
schema:
  log_level: list(info, debug, warning, error)
  mqtt_host: str
  mqtt_port: int
  mqtt_user: str
  mqtt_pass: str
image: "thermal-dual-vision-{arch}"
