name: "Thermal Dual Vision"
version: "2.1.12"
slug: "thermal_dual_vision"
description: "AI supported thermal & color person detection system with MQTT Auto-Discovery."
url: "https://github.com/cataloglu/thermal-dual-vision"
arch:
  - aarch64
  - amd64
startup: application
boot: auto
map:
  - "config:rw"
  - "media:rw"
ingress: true
ingress_port: 8099
panel_icon: mdi:cctv
panel_title: Thermal Vision
ports:
  1984/tcp: 1984
  8554/tcp: 8554
options: {}
schema: {}
